@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

/* @import "tailwindcss"; */

/* Concept A အတွက် Typing & Floating Effect */
@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

/* Concept B အတွက် Moving Border Glow Effect */
@keyframes borderGlow {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-border-glow {
  background-size: 200% 200%;
  animation: borderGlow 4s linear infinite;
}
